sudo: false
language: node_js
node_js:
  - "0.10"
  - "0.11"
  - "0.12"
  - "4.0"
matrix:
    allow_failures:
        - node_js: "4.0"
services:
  - mongodb
env:
  - NODE_ENV=test
before_script:
  - npm run setup
