doctype html
html(lang='en')
  head
    title Frame - An API boilerplate for Node.js
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='public/build.css')
  body
    div.jumbotron
      h1.text-center Frame
      h2.text-center A user system API for Node.js
      p.text-center: a.btn.btn-primary.btn-lg(href='https://hapiframe.herokuapp.com/docs')
        |Live Demo on Heroku
      ul.project-links
        li: a(href='https://github.com/jedireza/frame/') View GitHub Project
        li Version 0.1.1
        li: a(href='https://github.com/jedireza/frame/zipball/master') Download Frame
      div.gh-btns
        iframe(src='http://ghbtns.com/github-btn.html?user=jedireza&repo=frame&type=watch&count=true&size=large', allowtransparency='true', frameborder='0', scrolling='0', width='120px', height='30px')
        iframe(src='http://ghbtns.com/github-btn.html?user=jedireza&repo=frame&type=fork&count=true&size=large', allowtransparency='true', frameborder='0', scrolling='0', width='125px', height='30px')
        iframe(src='http://ghbtns.com/github-btn.html?user=jedireza&repo=frame&type=follow&count=false&size=large', allowtransparency='true', frameborder='0', scrolling='0', width='173px', height='30px')
    div.marketing
      h3.text-muted.text-center More details coming soon
    footer
      div.container
        p.
          Made using the force by <a href='http://twitter.com/jedireza', target='_blank'>@jedireza</a>.
          Code licensed under The MIT License.
        p.
          A special thanks goes to the creators and contributors of the tools
          Frame is built with.
        ul.footer-links
          li: a(href='https://github.com/jedireza/frame/issues?state=open') Submit issues
          li.muted ·
          li: a(href='#') Back to top
    script(src='public/build.js')
